mysql:
    image: mysql:5.7
    environment:
        MYSQL_DATABASE: rundeck
        MYSQL_USER: rundeck
        MYSQL_PASSWORD: 701d8d441eafc7023c9076125b5c4fcc82bc713f
        MYSQL_ROOT_PASSWORD: 701d8d441eafc7023c9076125b5c4fcc82bc713f 
        TZ: America/Chicago
    volumes:
        - ./volume/mysql:/var/lib/mysql
    ports:
      - "127.0.0.1:3306:3306"
rundeck1:
    build: .
    environment:
        MYSQL_DATABASE: rundeck
        MYSQL_USER: rundeck
        MYSQL_PASSWORD: 701d8d441eafc7023c9076125b5c4fcc82bc713f
        HOST_RUNDECK: localhost
        SERVER_URL: ${SERVER_URL:-https://localhost}
        PASSWORD: ${CRYPT_PASSWORD:-supersecure}
        TZ: America/Chicago
        SERVER_NAME: Primary
    ports:
      - "127.0.0.1:4443:4443"
      - "127.0.0.1:4440:4440"
    links:
        - mysql
    volumes:
        - ./volume/etc1:/etc/rundeck
        - ./volume/rundeck1:/var/rundeck
        - ./volume/lib1:/var/lib/rundeck
        - ./volume/log1:/var/log/rundeck
rundeck2:
    build: .
    environment:
        MYSQL_DATABASE: rundeck
        MYSQL_USER: rundeck
        MYSQL_PASSWORD: 701d8d441eafc7023c9076125b5c4fcc82bc713f
        HOST_RUNDECK: localhost
        SERVER_URL: ${SERVER_URL:-https://localhost}
        PASSWORD: ${PASSWORD:-admin}
        CRYPT_PASSWORD: ${CRYPT_PASSWORD:-supersecure}
        TZ: America/Chicago
        SERVER_NAME: Secondary
    ports:
      - "127.0.0.1:4442:4443"
      - "127.0.0.1:4441:4440"
    links:
        - mysql
    volumes:
        - ./volume/etc2:/etc/rundeck
        - ./volume/rundeck2:/var/rundeck
        - ./volume/lib2:/var/lib/rundeck
        - ./volume/log2:/var/log/rundeck

rundeck-proxy:
    image: nginx
    volumes:
      - ./etc/pki/tls/certs/local.crt:/etc/pki/tls/certs/server.key
      - ./etc/pki/tls/private/local.key:/etc/pki/tls/certs/server.key
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/nginx/vhosts.d/localhost.conf:/etc/nginx/vhosts.d/localhost.conf
    ports:
      - "127.0.0.1:443:443"
    links:
      - rundeck1
      - rundeck2
